<%
 layout('layout');
  %>

<span id="subjectTitlesBox">
 <ul class="listToLinks" id="subjectTitles"></ul>
</span>

<span id="coursesInSubjectBox" style="display: none">
 <ul id="coursesInSubject"></ul>

</span>

<div style="clear:both"></div>

<div id="courseQuickInfoBox" class="info-box" style="display: none">
 <span class="guid-text"></span>
 <ul class="staff-list">Here's the staff list:</ul>
</div>

<script src="/public/js/coursecatalog.js"></script>