<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Find a Course</title>
	<link rel="stylesheet" href="/public/css/courses.css">
	<script src="/public/vendor/jquery-2.1.4.js"></script>
</head>
<body>
<div class="Container">

	<div id="TopBarAndNav">
		<span id="SFCC">Star Fleet Community College</span>
			<span id="Nav">
				<a href="/coursecatalog">Course Catalog</a>
				<a href="/findacourse">Find a Course</a>
				<a href="">Faculty</a>
				<a href="">We Ran Out of Money</a>
			</span>
	</div>

	<%-body%>

</div>
</body>
</html>